body{
    padding: 0px;
}


.intro-sec{
    /* display: inline-block; */
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0px;
    /* margin: 5px; */
    /* padding: 20px; */

    img{
        border-radius: 30%;
        margin-right: 20px;
        padding: 0px;
        width: 180px;
        height: 180px;
        filter:drop-shadow(10px 7px 10px rgb(46, 104, 199));

    }
    .intro-details{
    /* display: inline-block; */
    /* max-width: 5000px; */
    p{
        padding-top: 0px;
        padding-left: 0px;
        margin: 15px 0;
        font-size: 140%;
        font-family: 'Courier New', Courier, monospace;
    }
    .education{
        font-size: 16px;
    }
    .spacialist{
        font-size: 17.5px;

    }
    }   
} 


@media screen and (max-width: 375px){
    .main_image{
        width: 10%;
        height: 20%;
    }
}


/* Default style for all devices */
/* .responsive-img {
    width: 100%;
    height: auto;
} */

/* Extra small devices (phones, 0-599px) *
@media (max-width: 599px) {
    .responsive-img {
        max-width: 100px;
        height: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px-767px) *
@media (max-width: 767px) {
    .responsive-img {
        max-width: 80px;
        height: 10px;
    }
}

/* Medium devices (landscape tablets, 768px-991px) *
@media (max-width: 991px) {
    .responsive-img {
        max-width: 70px;
        height: 10px;
    }
}

/* Large devices (desktops, 992px-1199px) *
@media (max-width: 1199px) {
    .responsive-img {
        max-width: 60px;
        height: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up) *
@media (min-width: 1200px) {
    .responsive-img {
        max-width: 50px;
        height: 10px;
    }
}
*/


.para_graph{
    padding-left: 10px;
    padding-right: 0px;
    font-family:'Courier New', Courier, monospace;

    .description{
        text-align: justify;
        /* padding: 0px 15px 0px 15px; */
        font-size: 15px;
        border-width: 5px;
        --b: .5em; /* border width */
        --c: 3em; /* corner size */
        --r: 2em; /* corner rounding */
        place-self: center;
        position: relative;        
        margin: 1em auto;
        border: solid var(--b) transparent;
        padding: 1em;

        &::before {
            position: absolute;
            z-index: -1;
            inset: calc(-1*var(--b));
            border: inherit;
            border-radius: var(--r);
            /* background: linear-gradient(90deg, rgba(73,138,104,1) 0%, rgba(9,121,118,1) 35%, rgba(0,206,255,1) 100%); */
            background: linear-gradient(rgb(0, 255, 200), rgb(20, 157, 255), rgb(0, 79, 128)) border-box;
            --corner: 
                conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
                    0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
            --inner: conic-gradient(red 0 0) padding-box;
            mask: 
                var(--corner) subtract, 
                var(--inner);
            content: ''
        }
    }
}

.buttons {
    /* margin: 10%; */
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    a{
        text-decoration: none;
        color: white;
    }
}

.certificates_set_1{
    display: flex;
    justify-content: center;
    img{
        width: 90vw;
        height: auto;
        margin: 20px;
        border-radius: 3px;
        filter:drop-shadow(10px 7px 10px rgb(225, 13, 207));

    }
}
@media (max-width: 1200px) {
    .certificates_set_1 img {
        /* flex: 1 1 calc(50% - 20px); */
        width: 280px;
        height: 350px;
    }
}

@media (max-width: 992px) {
    .certificates_set_1 img {
        /* flex: 1 1 calc(50% - 20px); */
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .certificates_set_1 img {
        /* flex: 1 1 100%; */
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 576px) {
    .certificates_set_1 img {
        /* flex: 1 1 100%; */
        width: 90vw;
        height: 250px;
    }
}

.certificates_set_2{
    display: flex;
    justify-content: center;
    img{
        width: 60vw;
        height: 900px;
        margin: 20px;
        border-radius: 3px;
        filter:drop-shadow(10px 7px 10px rgb(225, 13, 207));

    }
}
@media (max-width: 1200px) {
    .certificates_set_2 img {
        /* flex: 1 1 calc(50% - 20px); */
        width: 280px;
        height: 350px;
    }
}

@media (max-width: 992px) {
    .certificates_set_2 img {
        /* flex: 1 1 calc(50% - 20px); */
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .certificates_set_2 img {
        /* flex: 1 1 100%; */
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 576px) {
    .certificates_set_2 img {
        /* flex: 1 1 100%; */
        width: 90vw;
        height: 450px;
    }
}

.certificates_set_3{
    display: flex;
    justify-content: center;
    img{
        width: 300px;
        height: auto;
        margin: 20px;
        border-radius: 3px;
        filter:drop-shadow(10px 7px 10px rgb(225, 13, 207));

    }
}
@media (max-width: 1200px) {
    .certificates_set_3 img {
        /* flex: 1 1 calc(50% - 20px); */
        width: 280px;
        height: 350px;
    }
}

@media (max-width: 992px) {
    .certificates_set_3 img {
        /* flex: 1 1 calc(50% - 20px); */
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 768px) {
    .certificates_set_3 img {
        /* flex: 1 1 100%; */
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 576px) {
    .certificates_set_3 img {
        /* flex: 1 1 100%; */
        width: 200px;
        height: 200px;
    }
}